.circleFrame, .resContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-flow: column;
}

.circle{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: chartreuse;
    animation-name: justBreathe;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    margin-bottom: 10rem;
    
}

@keyframes justBreathe {
    0% {width: 5rem; height: 5rem}
    25% {width: 24rem; height: 24rem; background-color: red;}
    50% {width: 24rem; height: 24rem; background-color: chartreuse;}
    75% {width: 5rem; height: 5rem;}
    100% {width: 5rem; height: 5rem; background-color: red;}
    
}

.resContainer{
    perspective: 1000;
    overflow: hidden;
    position: relative;
}

#panelOne {
    position: absolute;
    background: linear-gradient(0deg, rgb(153, 50, 204, 10%) 0%,  rgb(153, 50, 204) 100%);
    transform: rotateY(45deg);
    padding: 0 8px;
    top: 20;
    left: 10%;
    height: 25%;
    font-size: 40px;
    z-index: 2;
    line-height: 1.2;
    
}

#panelTwo {
    position: absolute;
    background: linear-gradient(0deg, rgb(153, 50, 204, 10%) 0%,  rgb(153, 50, 204) 100%);
    transform: rotateY(45deg);
    padding: 0 8px;
    top: 60;
    right: 10;
    height: 30%;
    font-size: 40px;
    z-index: 1;
    line-height: 1.2;
    bottom: 39%;

}

#imgContainer{
    z-index: 2;
    width: 60%;
    display: block;
    position: relative;
    padding-bottom: 50%;
    top: 10%;



}

img{
    display: block;
    position: absolute;
    z-index: 10;
    width: 90%;
    height:100%;
    object-fit: cover;
    opacity: .9;

}



